@model RecipeBox.Models.Recipe

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPartial.cshtml";
}

<div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    <div class="row">
        <div class="col-md-4">
            <h2>@Html.DisplayFor(model => model.Title)</h2>

            @if (Model.Files.Any(f => f.FileType == RecipeBox.Models.FileType.Image))
            {
                <img class="img-responsive recipe-img" src="~/File?id=@Model.Files.First(f => f.FileType == RecipeBox.Models.FileType.Image).FileId" alt="Recipe photo" />

            }
        </div>
        <div class="col-md-6">
            <br />
            <h4>Create a shopping list for ingredients</h4>
            <p><a href="#" class="btn btn-md btn-success">Create List</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>Ingredients</h3>
            <ul class="multiline no-decoration">
                <li>
                    @Html.DisplayFor(model => model.Ingredients)
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <h3>Directions</h3>
            <ul class="multiline no-decoration">
                <li>
                    @Html.DisplayFor(model => model.Directions)
                </li>
            </ul>
        </div>
    </div>
</div>

