@model IEnumerable<RecipeBox.Models.Recipe>

@{
    ViewBag.Title = "My Recipes";
    Layout = "~/Views/Shared/_LayoutPartial.cshtml";
}
<br />
<p>
    <a href="@Url.Action("Create", "Recipes")" class="btn btn-md btn-success">Create Recipe</a>
</p>
<h3>My Recipes</h3>
<table class="table">
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
